@media only screen and (max-width: 420px) {
    body{
        background-image: url(img/Contour\,\ Gold.jpeg);
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80vh;
        
     
     }
     .container{
        background-image: url(/img/download\ \(6\).jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1000px;
        min-width: 420px;
        width: 90%;
        height: 50vh;
        /* margin: auto; */
        margin-top: 3%;
        /* align-items: center; */
        border-radius: 50px;
        
     } 
     .container2{
        margin-left: 1rem;
        padding-top: 3rem;
        /* line-height: px; */
     }
     .img{
        position: absolute;
        top: -15px;
        margin-left: 50px;
     }
     .button{
        display: flex;
        margin-left: 10px;
        gap: 3rem;
     }
     button{
        background-color: black;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 25px;
        border: none;
     }
     .main1, .main2, .main3{
        margin-top: 30px;
     }
     .flex{
        display: flex;
     }
     .flex2{
        display: flex;
        align-items: center;
     }
     .foods{
        /* position: absolute; */
        margin-left: 5rem;
        margin-top: 1rem;
     }
     .footer{
        background-color: black;
        width: 25vw;
        align-items: center;
        margin-left: 8rem;
        display: flex;
        gap: 3rem;
        border-radius: 20px;
        /* border: 1rem solid black; */
        /* padding: 1rem 2rem; */
        color: white;
     }
     .icons{
        display: flex;
        gap: 5rem;
        
     }
     .bell{
        align-items: baseline;
        justify-content: baseline;
     }
  }