*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
} 
body{
   background-image: url(img/Contour\,\ Gold.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 170vh;
   

}
.container{
   background-image: url(/img/download\ \(6\).jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 1000px;
   min-width: 420px;
   /* background-filter: blur(3px); */
   width: 50%;
   height: 150vh;
   margin: auto;
   margin-top: 7%;
   /* align-items: center; */
   border-radius: 50px;
   
} 
.container2{
   margin-left: 3rem;
   padding-top: 5rem;
   /* line-height: px; */
}
.img{
   position: absolute;
   top: -15px;
   margin-left: 50px;
}
.button{
   display: flex;
   margin-left: 80px;
   gap: 3rem;
}
button{
   background-color: black;
   color: white;
   padding: 0.5rem 2rem;
   border-radius: 25px;
   border: none;
}
.main1, .main2, .main3{
   margin-top: 30px;
}
.flex{
   display: flex;
}
.flex2{
   display: flex;
   align-items: center;
}
.foods{
   /* position: absolute; */
   margin-left: 5rem;
   margin-top: 1rem;
}
.footer{
   background-color: black;
   width: 25vw;
   justify-content: center;

   margin-left: 6rem;
   display: flex;
   gap: 3rem;
   border-radius: 20px;
   /* border: 1rem solid black; */
   padding: 1rem 2rem;
   color: white;
}
.icons{
   display: flex;
   gap: 30rem;
   
}
.bell{
   align-items: baseline;
   justify-content: baseline;
}


@media only screen and (max-width: 420px) {
    body{
        background-image: url(img/Contour\,\ Gold.jpeg);
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 170vh;
        
     
     }
     .container{
        background-image: url(/img/download\ \(6\).jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1000px;
        min-width: 300px;
        width: 30%;
        height: 140vh;
        margin: auto;
        margin-top: 3%;
        /* align-items: center; */
        border-radius: 50px;
        
     } 
     h1{
      font-size: 20px;
     }
     h2{
      font-size: 17px;
     }
     p{
      font-size: 17px;
     }
     h3{
      font-size: 17px;
      max-width: 100px;
     }
     .foods{
      width: 50%;
      height: 50%;
     }
     .container2{
        margin-left: 1rem;
        padding-top: 3rem;
        /* line-height: px; */
     }
     .img{
        position: absolute;
        top: -15px;
        margin-left: 50px;
     }
     .button{
        display: flex;
        margin-left: 5px;
        gap: 1rem;
        width: 50%;
        height: 50%;
     }
     button{
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        border: none;
        font-size: 10px;
     }
     .main1, .main2, .main3{
        margin-top: 30px;
     }
     .flex{
        display: flex;
     }
     .flex2{
        display: flex;
        align-items: center;
     }
     .foods{
        /* position: absolute; */
        margin-left: 3rem;
        margin-top: 1rem;
     }
     .footer{
        /* background-color: black; */
        width: 10vw;
        align-items: center;
        margin-left: 1rem;
        display: flex;
        gap: 1rem;
        margin-left: 6rem;
        /* border-radius: 20px; */
        /* border: 1rem solid black; */
        /* padding: 1rem 2rem; */
        color: white;
     }
     .icons{
        display: flex;
        gap: 2rem;
        
     }
     .bell{
        align-items: baseline;
        justify-content: baseline;
     }
  }